*{
    font-family: 'Roboto', sans-serif!important;
    font-weight: 300!important;
}
.style-navbar-link{
    color:rgba(102, 102, 102, 0.986)!important;
}
.style-navbar-link:hover{
    color:black!important;
}
.style-box-green{
    box-shadow: #4CAF50 0px 8px 20px -8px!important;
}
.style-box-red{
    box-shadow: #f44336 0px 8px 20px -8px!important;
}
.style-box-yellow{
    box-shadow: #FFCA28 0px 8px 20px -8px!important;
}
.style-box-grey{
    box-shadow: #78909C 0px 8px 20px -8px!important;
}
.box{
    border-radius: 10px!important;
}